* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #FFFFFF;
    background-image: url(spacestars.jpg);
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

header {
    grid-column: 2 / 8;
    text-align: center;
    padding: 10px;
}

nav {
    grid-column: 2 / 8;
    text-align: center;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: center;
}

nav ul li {
    text-align: center;
    width: 20%;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

main {
    grid-column: 2 / 8;
    padding: 20px;
}

footer {
    grid-column: 2 / 8;
    background-color: #000;
    text-align: center;
    padding: 10px;
}