* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #F5F8F4;
    color: #1D3328;

}

#wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-template-rows: auto auto 1fr auto;
    grid-gap: 20px;
}

header {
    grid-column: 2 / 8;
    grid-row: 1;
    background-color: #1D3328;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav {
    grid-column: 2 / 8;
    grid-row: 2;
    background-color: #2F5D45;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #D8F2E3;
}

#homehero {
    grid-column: 2 / 8;
    grid-row: 3;
    background-image: url("foresthero.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 8px;
}

main {
    grid-column: 2 / 8;
    grid-row: 3;
    padding: 20px;
    background-color: #EEF7EE;
    border-radius: 8px;
    margin-top: 340px;
}

main h2{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #aee8ff;
}

main p {
    margin-bottom: 20px;
}

footer {
    grid-column: 2 / 8;
    grid-row: 4;
    text-align: center;
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

footer a {
    color: #aee8ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 992px) {
    #wrapper {
        grid-template-columns: minmax(0, 1fr) 768px minmax(0, 1fr);
        grid-template-rows: auto auto 1fr auto;
    }

    header {
        grid-column: 2 / 3;
    }

    nav {
        grid-column: 2 / 3;
    }

    footer {
        grid-column: 2 / 3;
    }

    main {
        grid-column: 2 / 3;
    }

    nav ul {
        gap: 25px;
        flex-wrap: wrap;
    }

    header h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 768px) {
    #wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto auto 1fr auto;
    }

    header {
        grid-column: 1 / 2;
    }

    nav {
        grid-column: 1 / 2;
    }

    main {
        grid-column: 1 / 2;
    }

    footer {
        grid-column: 1 / 2;
    }

    nav ul {
        gap: 10px;
        padding: 0;
    }

    nav a {
        font-size: 1.1rem;
    }

    main {
        padding: 20px;
    }

    header h1 {
        font-size: 2rem;
    }
}