* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #FFFFFF;
    background-image: url(spacestars.jpg);

}

#wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-template-rows: auto auto 1fr auto;
    grid-gap: 20px;
}

header {
    grid-column: 2 / 8;
    grid-row: 1;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 3rem;
    font-weight: 900;
    color:#aee8ff;
    text-shadow: 0 0 1px #f5d77a, 0 0 15px #f5d77a;
}

nav {
    grid-column: 2 / 8;
    grid-row: 2;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px 0;
}

nav a {
    color: #aee8ff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.3rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    grid-column: 3 / 7;
    grid-row: 3;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    line-height: 1.6;
}

main h2{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #aee8ff;
}

main p {
    margin-bottom: 20px;
}

footer {
    grid-column: 2 / 8;
    grid-row: 4;
    text-align: center;
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

footer a {
    color: #aee8ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}